<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>内容采集</title>
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/oc.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">内容采集</li>
        </ul>
        <div class="layui-tab-content">
            <form class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item  layui-col-md8">
                    <label class="layui-form-label"> * 导入采集规则</label>
                    <div class="layui-input-block">

                    </div>
                </div>
                <div class="layui-form-item  layui-col-md8">
                    <label class="layui-form-label"> * URL地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="url" lay-verify="url|required"  placeholder="输入抓取地址的url" class="layui-input" value="http://www.phphz.com/code/">
                        <div class="layui-form-mid layui-word-aux">（以http:// 或 https://开头）</div>
                    </div>
                </div>

                <div class="layui-form-item  layui-col-md8">
                    <label class="layui-form-label"> * 采集规则</label>
                    <div class="layui-input-block">
                        <textarea placeholder='{
    "title": [
        ".shop-item>a:eq(0)",
        "title",
        "标题"
    ],
    "desc": [
        ".shop-item>p",
        "text",
        "描述"
    ],
    "thumb": [
        "img",
        "src",
        "缩略图"
    ],
    "category": [
        ".metacat>a:eq(1)",
        "text",
        "分类"
    ],
    "link": [
        ".shop-item>a:eq(0)",
        "href",
        "详情地址",
        "gain": [
            "content": [
              ".article-content",
              "html",
              "内容"
            ],
            "reading": [
              ".article-header>.muted:eq(4)",
              "text",
              "阅读量"
            ],
            "comming": [
              ".article-header>.muted:eq(5)",
              "text",
              "评论量"
            ],
        ]
    ],
    "time": [
        ".pricebtn",
        "text",
        "原文时间"
    ]
}' lay-verify="required" class="layui-textarea" name="rule">{"title":[".shop-item>a:eq(0)","title","标题"],"desc":[".shop-item>p","text","描述"],"thumb":["img","src","缩略图"],"category":[".metacat>a:eq(1)","text","分类"],"link":[".shop-item>a:eq(0)","href","图片地址"],"time":[".pricebtn","text","原文时间"]}</textarea>
                        <div class="layui-form-mid layui-word-aux">（页面元素抓取规则）</div>
                    </div>
                </div>
                    <div class="layui-form-item  layui-col-md8">
                        <label class="layui-form-label"> * 抓取页数</label>
                        <div class="layui-input-inline">
                            <input type="number" name="page" lay-verify="number|required"  value="1" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">（页数会拼接到url的后面，同时多次抓取知道抓够指定页数或没有数据为止）</div>
                    </div>
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="component-form-demo">立即提交</button>
                            <button class="layui-btn layui-btn-primary">保存采集规则</button>
                    </div>
                </div>
            </form>
            <div class="layui-tab-item layui-show">
                <div style="padding: 10px;">
                    <button class="layui-btn layuiadmin-btn-admin">采集</button>
                    <button class="layui-btn layuiadmin-btn-admin layui-btn-danger">删除</button>
                </div>
                <table id="list" lay-filter="list"></table>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs">采集</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
                </script>
            </div>
            <div class="layui-tab-item">
                <table id="data-list" lay-filter="list"></table>
            </div>
        </div>
    </div>
</div>

<script src="__LAYUI__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['table', 'jquery','form','laydate'],function(){
        var table = layui.table,
            $ = layui.$,
            form = layui.form;

        //规则表单
        form.render(null, 'component-form-group');

        /* 监听提交 */
        form.on('submit(component-form-demo)', function(data){
            console.log();
            $.post("{:url('admin/collect/rule')}", data.field, function (res) {
                layer.msg(res.msg);
                if( res.code == 1 ){
                    renderTable(res.data.key,res.data.data);
                }


            }, 'json');
            return false;
        });


        //初始化表格
        function renderTable(cols,data){
            //数据表格
            table.render({
                elem: '#list',
                toolbar: 'true',
                defaultToolbar: ['filter', 'print', 'exports'],
                loading: true,
                limit: 999999,
                cols: [cols],
                data:data
            });
        }

    });
</script>
</body>
</html>