{extend name="base" /}
{block name="content"}
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-sm6 layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">
          用户总数
          <span class="layui-badge layui-bg-blue layuiadmin-badge">总</span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p class="layuiadmin-big-font">9,999,666</p>
          <!-- <p>
            活动总数
            <span class="layuiadmin-span-color">88万 <i class="layui-inline layui-icon layui-icon-flag"></i></span>
          </p> -->
        </div>
      </div>
    </div>
    <div class="layui-col-sm6 layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">
          活动
          <span class="layui-badge layui-bg-cyan layuiadmin-badge">总</span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p class="layuiadmin-big-font">33,555</p>
          <!-- <p>
            新下载
            <span class="layuiadmin-span-color">10% <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
          </p> -->
        </div>
      </div>
    </div>
    <div class="layui-col-sm6 layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">
          收入
          <span class="layui-badge layui-bg-green layuiadmin-badge">总</span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p class="layuiadmin-big-font">999,666</p>
          <!-- <p>
            总收入
            <span class="layuiadmin-span-color">*** <i class="layui-inline layui-icon layui-icon-dollar"></i></span>
          </p> -->
        </div>
      </div>
    </div>
    <!-- <div class="layui-col-sm6 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">
          收入
          <span class="layui-badge layui-bg-green layuiadmin-badge">年</span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">

          <p class="layuiadmin-big-font">999,666</p>
          <p>
            总收入
            <span class="layuiadmin-span-color">*** <i class="layui-inline layui-icon layui-icon-dollar"></i></span>
          </p>
        </div>
      </div>
    </div> -->
    <div class="layui-col-md8">
      <div class="layui-row layui-col-space15">
       <!--  <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header">快捷方式</div>
            <div class="layui-card-body">
              <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                <div carousel-item>
                  <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs3">
                      <a lay-href="home/homepage1.html">
                        <i class="layui-icon layui-icon-console"></i>
                        <cite>主页</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="home/homepage2.html">
                        <i class="layui-icon layui-icon-chart"></i>
                        <cite>数据统计</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="component/layer/list.html">
                        <i class="layui-icon layui-icon-template-1"></i>
                        <cite>页面管理</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a layadmin-event="im">
                        <i class="layui-icon layui-icon-chat"></i>
                        <cite>客服系统</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="component/progress/index.html">
                        <i class="layui-icon layui-icon-find-fill"></i>
                        <cite>项目进度</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="app/workorder/list.html">
                        <i class="layui-icon layui-icon-survey"></i>
                        <cite>工单</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="user/user/list.html">
                        <i class="layui-icon layui-icon-user"></i>
                        <cite>用户</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="set/system/website.html">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>设置</cite>
                      </a>
                    </li>
                  </ul>
                  <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs3">
                      <a lay-href="set/user/info.html">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>我的资料</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="set/user/info.html">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>我的资料</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="set/user/info.html">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>我的资料</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="set/user/info.html">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>我的资料</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="set/user/info.html">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>我的资料</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="set/user/info.html">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>我的资料</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="set/user/info.html">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>我的资料</cite>
                      </a>
                    </li>
                    <li class="layui-col-xs3">
                      <a lay-href="set/user/info.html">
                        <i class="layui-icon layui-icon-set"></i>
                        <cite>我的资料</cite>
                      </a>
                    </li>
                  </ul>

                </div>
              </div>

            </div>
          </div>
        </div> -->
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">订单</div>
            <div class="layui-card-body">

              <div class="layui-carousel layadmin-carousel layadmin-backlog">
                <div carousel-item>
                  <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs6">
                      <a lay-href="app/content/comment.html" class="layadmin-backlog-body">
                        <h3>待审评论</h3>
                        <p><cite>66</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="app/forum/list.html" class="layadmin-backlog-body">
                        <h3>待审帖子</h3>
                        <p><cite>12</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="template/goodslist.html" class="layadmin-backlog-body">
                        <h3>待审商品</h3>
                        <p><cite>99</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                        <h3>待发货</h3>
                        <p><cite>20</cite></p>
                      </a>
                    </li>
                  </ul>
                  <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs6">
                      <a href="javascript:;" class="layadmin-backlog-body">
                        <h3>待审友情链接</h3>
                        <p><cite style="color: #FF5722;">5</cite></p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">数据概览</div>
            <div class="layui-card-body">

              <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                <div carousel-item id="LAY-index-dataview">
                  <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                  <div></div>
                  <div></div>
                </div>
              </div>

            </div>
          </div>
          <div class="layui-card">
            <div class="layui-tab layui-tab-brief layadmin-latestData">
              <ul class="layui-tab-title">
                <li class="layui-this">今日热搜</li>
                <li>今日热帖</li>
              </ul>
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <table id="LAY-index-topSearch"></table>
                </div>
                <div class="layui-tab-item">
                  <table id="LAY-index-topCard"></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">版本信息</div>
        <div class="layui-card-body layui-text">
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col>
            </colgroup>
            <tbody>
            <tr>
              <td>开发商</td>
              <td>
                <script type="text/html" template>
                  一维网络工作室
                  <a href="javascript:" style="padding-left: 15px;">电话：17610226808</a>
                </script>
              </td>
            </tr>
            <tr>
              <td>项目名称</td>
              <td>
                <script type="text/html" template>
                  EweiAdmin
                </script>
              </td>
            </tr>
            <tr>
              <td>主营项目</td>
              <td>小程序 / 微信公众号 / APP / 网站建设</td>
            </tr>
            <tr>
              <td>官网地址</td>
              <td style="padding-bottom: 0;">
                <div class="layui-btn-container">
                  <a href="http://www.redkylin.com" target="_blank" class="layui-btn layui-btn-danger">前往官网</a>
                  <a href="javascript:"  class="layui-btn bbs">技术论坛</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header">效果报告</div>
        <div class="layui-card-body layadmin-takerates">
          <div class="layui-progress" lay-showPercent="yes">
            <h3>转化率（日同比 28% <span class="layui-edge layui-edge-top" lay-tips="增长" lay-offset="-15"></span>）</h3>
            <div class="layui-progress-bar" lay-percent="65%"></div>
          </div>
          <div class="layui-progress" lay-showPercent="yes">
            <h3>签到率（日同比 11% <span class="layui-edge layui-edge-bottom" lay-tips="下降" lay-offset="-15"></span>）</h3>
            <div class="layui-progress-bar" lay-percent="32%"></div>
          </div>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header">实时监控</div>
        <div class="layui-card-body layadmin-takerates">
          <div class="layui-progress" lay-showPercent="yes">
            <h3>CPU使用率</h3>
            <div class="layui-progress-bar" lay-percent="58%"></div>
          </div>
          <div class="layui-progress" lay-showPercent="yes">
            <h3>内存占用率</h3>
            <div class="layui-progress-bar layui-bg-red" lay-percent="90%"></div>
          </div>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header">产品动态</div>
        <div class="layui-card-body">
          <div class="layui-carousel layadmin-carousel layadmin-news" data-autoplay="true" data-anim="fade" lay-filter="news">
            <div carousel-item>
              <div><a href="javascript:" class="layui-bg-red">新版点餐系统正在筹备中</a></div>
              <div><a href="javascript:" class="layui-bg-green">新版电商系统正在筹备中</a></div>
              <div><a href="javascript:" class="layui-bg-blue">全新电商+三级分销系统完成正在测试</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header">
          平台公告
          <i class="layui-icon layui-icon-tips" lay-tips="要支持的噢" lay-offset="5"></i>
        </div>
        <div class="layui-card-body layui-text layadmin-text">
            <p>七位一体 整体解决 为企源提供移动终端站略解决方案 </p>
            <p>专业技术 精品保证。</p>
            <p>价格真实 拒绝忽悠</p>
            <p>客户口碑 价值见证</p>
            <p>—— 七品（<a href="http://www.redkylin.com/" target="_blank">redkylin.com</a>）</p>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}
{block name="script"}
<script>
layui.config({
  base: '__LAYUI__/' //静态资源所在路径
}).extend({
  index: 'lib/index' //主入口模块
}).use(['index', 'console'],function(){
    var $ = layui.$;
    $('.bbs').click(function(){
        layer.msg('正在筹备中');
    })

});

</script>
{/block}


