{extend name="base" /}
{block name="content"}
<form class="layui-form" action="" method="post" lay-filter="admin-form">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <input type="hidden" name="id" value="{$type.id}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">积分名称</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="{$type.title}" lay-verify="required" placeholder="请输入名称"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">积分单位</label>
        <div class="layui-input-inline">
            <input type="text" name="unit" value="{$type.unit}" lay-verify="required" placeholder="请输入单位"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">积分说明</label>
        <div class="layui-input-inline">
            <input type="text" name="intro" value="{$type.intro}" lay-verify="" placeholder="请输入说明"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="checkbox"
                   {if isset($type.status) && $type.status== 1}checked{elseif !isset($type.status)}checked{else/}{/if}
            name="status" lay-skin="switch" lay-filter="switchTest" lay-text="启用|禁用">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
</form>
{/block}
{block name="script"}
<script>
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
    }).use(['index', 'form'],function() {
    });
</script>
{/block}