    {present name="field.options.none"}
    {notempty name="field.options.none"}
    <option value=''>{$field.options.none}</option>
    {/notempty}
    {php}unset($field['options']['none']);{/php}{else/}<option value=''>请选择 {$field.title|default=""}</option>
    {/present}
    {foreach name="field.options" item="option" key="option_key"}
        {php}if(is_array($option)):{/php}
            <option value="{$option_key}" {present name="field.value"}{eq name="field.value" value="$option_key"} selected{/eq}{/present}
                {foreach name="option" item="option2" key="option_key2"}
                    {$option_key2}="{$option2}"
                {/foreach}>
                {$option.title}
            </option>
        {php}else:{/php}
            <option value="{$option_key}" {present name="field.value"}{eq name="field.value" value="$option_key"} selected{/eq}{/present}>{$option}</option>
        {php}endif;{/php}
    {/foreach}




<div class="layui-inline">
    <div class="layui-inline">
        <select name="{$field.name}" id="{$field.name}" {$field.extra_attr|default=''}>
            <option value=''>请选择 {$field.title|default=""}</option>
            <option value="">选择状态</option>
            <option value="1">未激活</option>
            <option value="2">已激活</option>
        </select>
    </div>
</div>