{include file="$_builder_style_" /}
<div class="layui-fluid">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">行为限制</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="keyword" placeholder="请输入关键字" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <select name="status">
                                <option value="">选择状态</option>
                                <option value="1">未激活</option>
                                <option value="2">已激活</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item layui-show">
                <div style="padding: 10px;">
                    <button class="layui-btn layuiadmin-btn-admin" data-type="add" data-title="添加" data-url="{:url('admin/action/actionLimitForm')}" data-width="600px" data-height="500px">添加</button>
                    <button class="layui-btn layuiadmin-btn-admin layui-btn-danger" data-type="del" data-url="{:url('admin/action/delActionLimit')}">删除</button>
                </div>
                <table id="list" lay-filter="list"></table>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="other" data-title="编辑用户" data-url="{:url('admin/action/actionLimitForm')}" data-width="600px" data-height="500px;">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"  data-url='{:url("admin/action/delActionLimit")}'>删除</a>
                </script>
            </div>
            <div class="layui-tab-item">
                <table id="data-list" lay-filter="list"></table>
            </div>
        </div>
    </div>
</div>
<script src="__LAYUI__/layui/layui.js?t=1"></script>
<script>
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['table', 'jquery','laydate','upload','common'],function(){
        var table = layui.table,
            $ = layui.$;
        table.render({
            elem: '#list',
            url: "{:url('admin/action/actionLimit')}", //数据接口
            title: '用户权限表',
            toolbar: 'true',
            defaultToolbar: ['filter', 'print', 'exports'],
            page: {$openPage},
            loading: true,
            limit: {$table_limit},
            limits: {$table_limits},
            cols: [{$table_columns}],
        });
    });
</script>
{include file="$_builder_javascript_" /}