<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章管理列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/oc.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">文章分类</li>
            <li>文章管理</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关键字</label>
                            <div class="layui-input-block">
                                <input type="text" name="keyword" placeholder="请输入关键字" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-block">
                                <select name="status">
                                    <option value="">选择状态</option>
                                    <option value="1">未激活</option>
                                    <option value="2">已激活</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-search" data-item="category_list">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <button class="layui-btn layuiadmin-btn-admin" data-type="add" data-title="添加" data-url="{:url('admin/action/actionLimitForm')}" data-width="600px" data-height="500px">添加</button>
                    <button class="layui-btn layuiadmin-btn-admin layui-btn-danger" data-type="del" data-url="{:url('admin/action/delActionLimit')}">删除</button>
                </div>
                <table id="category_list" lay-filter="category_list"></table>
                <script type="text/html" id="bar">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="other" data-title="添加子类" data-url="{:url('admin/action/actionLimitForm')}" data-width="600px" data-height="500px;">添加子类</a>
                    <a class="layui-btn layui-btn-xs" lay-event="other" data-title="编辑用户" data-url="{:url('admin/action/actionLimitForm')}" data-width="600px" data-height="500px;">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"  data-url='{:url("admin/action/delActionLimit")}'>删除</a>
                </script>
            </div>


            <div class="layui-tab-item">
                <div style="padding: 10px;">
                    <button class="layui-btn layuiadmin-btn-admin" data-type="add" data-title="添加" data-url="{:url('admin/action/actionLimitForm')}" data-width="600px" data-height="500px">添加</button>
                    <button class="layui-btn layuiadmin-btn-admin layui-btn-danger" data-type="del" data-url="{:url('admin/action/delActionLimit')}">删除</button>
                </div>
                <table id="list" lay-filter="list"></table>
                <script type="text/html" id="data-bar">
                    <a class="layui-btn layui-btn-xs edit" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>

<script src="__LAYUI__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','jquery', 'table','laydate','common'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table;

        //文章位列表
        table.render({
            elem: '#category_list',
            url: "{:url('article/category')}", //数据接口
            defaultToolbar: ['filter', 'print', 'exports'],
            page: true, //开启分页
            toolbar: true,
            limits: [10, 20, 50, 100],
            cols: [[ //表头
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'name', title: '分类名称', sort: true, fixed: 'left'},
                {field: 'thumb', title: '缩略图', sort: true, fixed: 'left'},
                {field: 'alias', title: '别名', sort: true, fixed: 'left'},
                {field: 'list_template', title: '分类列表模板', sort: true},
                {field: 'detail_template', title: '分类详情模板', sort: true,edit:true},
                {field: 'type', title: '类型', sort: true},
                {field: 'sort', title: '排序', sort: true},
                {field: 'pid', title: '父级', sort: true},
                {fixed: 'right', width: 175, align: 'center', toolbar: '#bar'}
            ]]
        });


        //文章列表
        table.render({
            elem: '#list',
            url: "{:url('article/index')}", //数据接口
            defaultToolbar: ['filter', 'print', 'exports'],
            page: true, //开启分页
            toolbar: true,
            limits: [10, 20, 50, 100],
            cols: [[ //表头
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'title', title: '分类名称', sort: true, fixed: 'left'},
                {field: 'author', title: '作者', sort: true},
                {field: 'status', title: '状态', sort: true},
                {field: 'reading', title: '阅读量', sort: true,edit:true},
                {field: 'is_top', title: '是否置顶', sort: true},
                {field: 'is_recommend', title: '是否推荐', sort: true},
                {field: 'sort', title: '排序', sort: true},
                {field: 'create_time', title: '创建时间', sort: true},
                {field: 'publish_time', title: '发布时间', sort: true},
                {fixed: 'right', width: 165, align: 'center', toolbar: '#bar'}
            ]]
        });
    });
</script>
</body>
</html>