<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/oc.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/template.css" media="all">
</head>
<body>
<div class="layui-fluid layadmin-maillist-fluid">
    <div class="layui-col-md4 layui-col-sm6">
        <button class="layui-btn edit-old" lay-event="other" data-title="编辑用户" data-url="{:url('form')}" data-width="600px" data-height="600px;">添加老人信息</button>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md12 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>老王</strong>
                        </h3>
                        <span> 年龄：29 性别：男</span>
                        <p class="layadmin-textimg">
                            <i class="layui-icon layui-icon-location"></i>
                            北京市 北京市  昌平区
                        </p>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>联系人资料</strong>
                            <br>
                            联系人：小王
                            <br>
                            联系电话: 188888888
                            <br>
                            关系：儿子
                            <br>
                        </a>
                    </div>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>服务信息</strong>
                            <br>
                            推送次数：10
                            <br>
                            试住次数: 8
                            <br>
                            状态：试住中
                            <br>
                        </a>
                    </div>
                    <div class="layadmin-address">
                            <strong>老人情况</strong>
                            <br>
                            <div class="layui-col-md6">
                                行动：不方便
                                <br>
                                饮食: 正常
                                <br>
                                大小便：不方便
                                <br>
                            </div>
                            <div class="layui-col-md6">
                                行动：不方便
                                <br>
                                饮食: 正常
                                <br>
                                大小便：不方便
                                <br>
                            </div>
                    </div>
                    <button class="layui-btn edit-old" style="margin-top: 20px;" lay-event="other" data-title="编辑用户" data-url="{:url('form')}" data-width="600px" data-height="600px;">编辑老人信息</button>
                </div>

            </div>
        </div>
        <div class="layui-col-md4 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md12 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>老王</strong>
                        </h3>
                        <span> 年龄：29 性别：男</span>
                        <p class="layadmin-textimg">
                            <i class="layui-icon layui-icon-location"></i>
                            北京市 北京市  昌平区
                        </p>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>联系人资料</strong>
                            <br>
                            联系人：小王
                            <br>
                            联系电话: 188888888
                            <br>
                            关系：儿子
                            <br>
                        </a>
                    </div>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>服务信息</strong>
                            <br>
                            推送次数：10
                            <br>
                            试住次数: 8
                            <br>
                            状态：试住中
                            <br>
                        </a>
                    </div>
                    <div class="layadmin-address">
                        <strong>老人情况</strong>
                        <br>
                        <div class="layui-col-md6">
                            行动：不方便
                            <br>
                            饮食: 正常
                            <br>
                            大小便：不方便
                            <br>
                        </div>
                        <div class="layui-col-md6">
                            行动：不方便
                            <br>
                            饮食: 正常
                            <br>
                            大小便：不方便
                            <br>
                        </div>
                    </div>
                    <button class="layui-btn edit-old" style="margin-top: 20px;" lay-event="other" data-title="编辑用户" data-url="{:url('form')}" data-width="600px" data-height="600px;">编辑老人信息</button>
                </div>

            </div>
        </div>
        <div class="layui-col-md4 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md12 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>老王</strong>
                        </h3>
                        <span> 年龄：29 性别：男</span>
                        <p class="layadmin-textimg">
                            <i class="layui-icon layui-icon-location"></i>
                            北京市 北京市  昌平区
                        </p>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>联系人资料</strong>
                            <br>
                            联系人：小王
                            <br>
                            联系电话: 188888888
                            <br>
                            关系：儿子
                            <br>
                        </a>
                    </div>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>服务信息</strong>
                            <br>
                            推送次数：10
                            <br>
                            试住次数: 8
                            <br>
                            状态：试住中
                            <br>
                        </a>
                    </div>
                    <div class="layadmin-address">
                        <strong>老人情况</strong>
                        <br>
                        <div class="layui-col-md6">
                            行动：不方便
                            <br>
                            饮食: 正常
                            <br>
                            大小便：不方便
                            <br>
                        </div>
                        <div class="layui-col-md6">
                            行动：不方便
                            <br>
                            饮食: 正常
                            <br>
                            大小便：不方便
                            <br>
                        </div>
                    </div>
                    <button class="layui-btn edit-old" style="margin-top: 20px;" lay-event="other" data-title="编辑用户" data-url="{:url('form')}" data-width="600px" data-height="600px;">编辑老人信息</button>
                </div>

            </div>
        </div>
        <div class="layui-col-md4 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md12 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>老王</strong>
                        </h3>
                        <span> 年龄：29 性别：男</span>
                        <p class="layadmin-textimg">
                            <i class="layui-icon layui-icon-location"></i>
                            北京市 北京市  昌平区
                        </p>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>联系人资料</strong>
                            <br>
                            联系人：小王
                            <br>
                            联系电话: 188888888
                            <br>
                            关系：儿子
                            <br>
                        </a>
                    </div>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>服务信息</strong>
                            <br>
                            推送次数：10
                            <br>
                            试住次数: 8
                            <br>
                            状态：试住中
                            <br>
                        </a>
                    </div>
                    <div class="layadmin-address">
                        <strong>老人情况</strong>
                        <br>
                        <div class="layui-col-md6">
                            行动：不方便
                            <br>
                            饮食: 正常
                            <br>
                            大小便：不方便
                            <br>
                        </div>
                        <div class="layui-col-md6">
                            行动：不方便
                            <br>
                            饮食: 正常
                            <br>
                            大小便：不方便
                            <br>
                        </div>
                    </div>
                    <button class="layui-btn edit-old" style="margin-top: 20px;" lay-event="other" data-title="编辑用户" data-url="{:url('form')}" data-width="600px" data-height="600px;">编辑老人信息</button>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="__LAYUI__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['table', 'jquery','laydate','common'],function(){
        var table = layui.table,
            $ = layui.jquery;
        $('.edit-old').on('click',function(){
            var url = "{:url('oldForm')}";
            if( $(this).attr('data-id') ){
                url = "{:url('oldForm')}?id=".$(this).attr('data-id');
            }
            layer.open({
                type: 2
                , title: '老人信息'
                , content: url
                , maxmin: true
                , area: ['90%', '90%']
                , btn: ['确定', '取消']
                , yes: function (index, layero) {
                    var iframeWindow = window['layui-layer-iframe' + index ]
                        , submitID = 'LAY-submit'
                        , submit = layero.find('iframe').contents().find('#' + submitID);

                    //监听提交
                    iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                        var field = data.field; //获取提交的字段
                        //提交 Ajax 成功后，静态更新表格中的数据
                        $.post(url, field, function (res) {
                            if (res.code === 1) {
                                table.reload('list');   //数据刷新
                                layer.close(index);     //关闭弹层
                                layer.msg(res.msg);
                            } else {
                                layer.msg(res.msg);
                            }
                        }, 'json');
                    });
                    submit.trigger('click');
                }
            });
        })
    });



</script>
</body>
</html>
