{extend name="base" /}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">任务添加</div>
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <label class="layui-form-label">任务名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" value="" lay-verify="required" placeholder="请输入任务名称"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模块</label>
                    <div class="layui-input-block">
                        <input type="text" name="model" value="" lay-verify="" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">自动采集</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="auto_collect" lay-skin="switch" lay-filter="switchTest" lay-text="自动|关闭">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">每次采集数</label>
                    <div class="layui-input-block">
                        <input type="number" name="model" value="" lay-verify="" placeholder="" autocomplete="off" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">（该任务每次采集的数据量，不能超过采集设置中的“每次采集数量”）</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">使用代理</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="auto_collect" lay-skin="switch" lay-filter="switchTest" lay-text="自动|关闭">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图片本地话</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="auto_collect" lay-skin="switch" lay-filter="switchTest" lay-text="自动|关闭">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图片地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="model" value="" lay-verify="" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0; height: 130px;">
                            <button class="layui-btn" lay-submit="" lay-filter="component-form-demo">创建任务</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            <div class="steps-bar" style="padding: 10px;">
                                <div class="step current">
                                    <div class="each">
                                        <a href="{:url('admin/task/add')}" class="round">1</a>
                                        <div class="bar"></div>
                                    </div>
                                    <div class="info"><a href="{:url('admin/task/add')}">任务设置</a></div>
                                </div>
                                <div class="step ">
                                    <div class="each">
                                        <a href="{:url('admin/task/addStep1')}" class="round">2</a>
                                        <div class="bar"></div>
                                    </div>
                                    <div class="info"><a href="{:url('admin/task/addStep1')}">采集器设置</a></div>
                                </div>
                                <div class="step ">
                                    <div class="each">
                                        <a href="{:url('admin/task/addStep2')}" class="round">3</a>
                                    </div>
                                    <div class="info"><a href="{:url('admin/task/addStep2')}">发布设置</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,layer = layui.layer
            ,form = layui.form;

        form.render(null, 'component-form-group');

        /* 监听提交 */
        form.on('submit(component-form-demo)', function(data){
            var register_type = [];
            $("input[name='register_type']:checked").each(function () {
                register_type.push(this.value);
            });
            var reg_switch = [];
            $("input[name='reg_switch']:checked").each(function () {
                reg_switch.push(this.value);
            });
            data.field.reg_switch = reg_switch;
            data.field.register_type = register_type;
            $.post("{:url('admin/user/registerConfig')}", {data: data.field}, function (res) {
                layer.msg(res.msg);
            }, 'json');
            return false;
        });
    });
</script>
{/block}
