{extend name="base" /}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">任务列表</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="keyword" placeholder="请输入关键字" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <select name="auto">
                                <option value="0">选择状态</option>
                                <option value="1">启用</option>
                                <option value="2">禁用</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item layui-show">
                <div style="padding: 10px;">
                    <a class="layui-btn new-tab"  data-href="{:url('taskForm')}"  data-title="添加任务">添加</a>
                    <button class="layui-btn layuiadmin-btn-admin layui-btn-danger" data-type="del" data-url="{:url('del')}">删除</button>
                </div>
                <table id="list" lay-filter="list"></table>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-href="{:url('edit')}"  lay-text="编辑任务">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"  data-url='{:url("del")}'>删除</a>
                </script>
            </div>
            <div class="layui-tab-item">
                <table id="data-list" lay-filter="list"></table>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['table', 'jquery','laydate','upload','common'],function(){
        var table = layui.table,
            $ = layui.$;
        table.render({
            elem: '#list',
            url: "{:url('task/index')}", //数据接口
            title: '任务列表',
            toolbar: 'true',
            defaultToolbar: ['filter', 'print', 'exports'],
            page: true,
            loading: true,
            limit: 20,
            limits: [10, 20, 50, 100],
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', sort: true, fixed: 'left', width: 80},
                {field: 'name', title: '名称', sort: true, fixed: 'left',edit:true},
                {field: 'model', title: '采集模块', sort: true, fixed: 'left',edit:true},
                {field: 'auto_collect', title: '自动采集', sort: true, fixed: 'left' },
                {field: 'create_time', title: '添加时间', sort: true, fixed: 'left' },
                {field: 'collect_time', title: '采集时间', sort: true},
                {fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo'}
            ]],
        });
    });
</script>
{/block}